* {
    margin-top: 0;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.6vh;
}

.heading {
    margin-top: 10px;
    text-align: center;

}

.app-container {
    display: grid;
    place-items: center;
    width: 600px;
    height: 900px;
    border: 6px solid black;
    margin-left: auto;
    margin-right: auto;
}


.score-container {
    width: 50px ;
    height: 25px;
    padding: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 6px solid black;
}

.score{
    text-align: center;
}


.image-container {
    padding: 10px;
    width: 400px;
    height: 200px;
    border: 6px solid black;
}

.question-container {
    width: 400px;
    height: 100px;
    padding: 10px;
    border: 6px solid black;
}

.option-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 10px; */
    width: 450px;
    height: 200px;

} 

.option {
    all: unset;
    cursor: pointer;
    background-color: beige;
    padding: 10px;
    width: 400px;
    height: 50px;
    margin-bottom: 10px;
    border: 6px solid black;
}

.option:hover {
    background-color: #f0e6c8;
}

.option:active {
    transform: scale(0.98)
}

.continue {
    padding: 10px;
    background-color: beige;
    border: 6px solid black;
}