* {
    margin-top: 0;
}

.heading {
    margin-top: 10px;
    text-align: center;

}

.app-container {
    width: 600px;
    height: 800px;
    border: 6px solid black;
    margin-left: auto;
    margin-right: auto;
}

/* .image {
    
} */